{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

{% for item in indexList %}

    <div class="recipe-cards">
        <h3 class="recipe-cards-title">
            <a class="title" href="/view?id={{ item.id }}">
                {{ item.title }}
                
            </a>
        </h3>
        
        <div style="vertical-align: top;" class="recipe-cards-info">
        
            <div style="margin-top: 0px; margin-bottom: 0px; padding-top: 0px; vertical-align: top;">
                <i>Serves {{ item.serves }}</i>&nbsp;&nbsp;|&nbsp;&nbsp;From: <a class="title" href="/user_view?username={{ item.author }}">{{ item.author }}</a></div>
            
            <div style="margin-top: 10px;">{{ item.method }}</div>
        
        </div>
            
        </p>
    </div>
    
{% endfor %}

{% endblock %}